# Ignore node_modules folder  
node_modules/  

# Ignore environment files  
.env  

# Ignore logs  
logs/  
*.log  

# Ignore dependency lock files  
package-lock.json  
yarn.lock  

# Ignore VS Code settings  
.vscode/